Belatrix.Logger.Test/bin/Debug/x86/SQLite.Interop.dll
Belatrix.Logger.Test/bin/Debug/Belatrix.Logger.Test.dll
Belatrix.Logger.Test/bin/Debug/Belatrix.Logger.Test.dll.config
Belatrix.Logger.Test/bin/Debug/Belatrix.Logger.Test.pdb
Belatrix.Logger.Test/bin/Debug/belatrixLogger.txt
Belatrix.Logger.Test/bin/Debug/BelatrixTest.Logger.dll